@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    width: 100vw;
    background: #7d06a1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.content {
    padding: 15px;
    box-shadow: 0 1px 2px #0003;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selects {
    display: flex;
    gap: 5px;
}

select {
    width: 50%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border-color: #ddd;
    border-radius: 5px;
}

.text-input {
    display: flex;
    gap: 5px;
    border-radius: 5px;
}

.text-input textarea {
    font-size: 18px;
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.container button {
    opacity: 0.9;
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    color: #F2E6F5;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: #9737B3;
    letter-spacing: 1px;
}

@media (max-width: 660px) {
    .container {
        padding: 20px;
    }

    .text-input {
        flex-direction: column;
    }

    .text-input textarea {
        height: 200px;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .selects {
        padding: 1px;
        flex-direction: column;
        width: 200%;
    }
}